torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
transformers==4.40.0
accelerate==0.30.0
opencv-python==4.9.0.80
librosa==0.10.1
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm
PyYAML
soundfile
Pillow
openai-whisper
facenet-pytorch
